<h1>My Articles</h1>

<ul class="articles">
	<% @articles.each do |article| %>
	<li>
		<%=link_to article.title, article_path(article), class: 'article_title' %>
	</li>
	<% end %>
</ul>



<div>
  <% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
  <% end %>
</div>