<h1>All Tags</h1>

<ul id="tags">
	<% @tag.each do |tag| %>
	<li>
		<%=link_to tag.name, tag_path(tag)%>

		<% if logged_in? %>
		<%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
		<% end %>
	</li>

	<% end %>
</ul>
<br>
<%= link_to "Back to Articles", articles_path  %>