
/* gets rid of spacing between rows of squares */
body {
	line-height: 0;
}

/* can change width and squares will adjust */
.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


.square {
	background-color:red;
	display: inline-block;
}


.marked {
	background-color:blue;
}

p{
	text-align: center;
}





