body {
	line-height: 0;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.square {
	width:200px;
	height:200px;
	background-color:red;
	display: inline-block;
}

.blue {
	background-color:blue;
}

p{
	text-align: center;
}





