
/* gets rid of spacing between rows of squares */
body {
	line-height: 0;
	font-family:arial;

}

/* can change width and squares will adjust */
.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}


.square {
	background-color:#E8E8E8;
	display: inline-block;
}

h1, p{
	text-align: center;

}

/* used for gradient button */
.grid {
	background-color:black; 
}

button > a {
	text-decoration:none;
	font-color:black;
}





