/*========================================
=            My Custom Styles            =
========================================*/

.container {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin: 0px;
}

.clear {
  clear:both;
}

.alert {
  text-align: center;
}

.alert-error {
  color: red;
}

.alert-success {
  color: green;
}

h4 {
  margin: 0px;
}


